<h1>Product: {{title}}</h1>

<h2>Price: {{price}}€</h2>

{{#if imageFile}}
  <img class="image" src="/images/{{imageFile}}" alt="{{title}}" />

{{else}}
  <img
    class="image"
    src="https://via.placeholder.com/600x400"
    alt="{{title}}"
  />
{{/if}}

<div>

  {{#if stores}}
    <h3>Stores available:</h3>
    <ul>
      {{#each stores}}
        <li>{{this}} <a href="#"><button>More details</button></a></li>
      {{else}}
        <p>No stores yet!</p>
      {{/each}}
    </ul>
  {{else}}
    <h3>Product still not available</h3>
  {{/if}}
</div>